.explore{
    margin-top: 20px;
    padding: 0 30px;
    font-family: 'Montserrat';
    h1{
        font-family: 'Expletus Sans', cursive;
    }
    .category{
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 17px;
        margin-right: 10px;
        cursor: pointer;
        background-color: #1e5f74;
        color: #fff;
        outline: none;
        border: none;
    }

    .cards-container{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media(max-width: 676px) {
            grid-template-columns: 1fr;
        }
        
        .course{
            
            background-color: #1e5f74;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;       
            position: relative;     
            .image{
                height: 18rem;
                
                img{
                    width: 100%;
                    height: 18rem;
                    object-fit: cover;
                    border-radius: 20px 0 0 20px;
                }
            }

            .discount{
                position: absolute;
                background-color: rgb(233, 111, 111);
                padding: 8px 20px;
                border-radius: 20px;
                font-weight: bold;
               
                top: 5px;
                left: 10px;
               
                
            }
        }
        .content{
            background-color: #1e5f74;
            border-radius: 0 20px 20px 0 ;
            padding: 10px;

            h1.title{
                font-size: 24px;
                font-family: 'Hind Guntur', sans-serif;;
                font-weight: 300;
                line-height: 1.3;
            }

            .price{
                margin-top: 5px;
                font-family: "Hind Guntur";
                font-weight: bold;
                font-size: 30px;

                .original-price{
                    color: #8da9b3;
                    font-weight: 100;
                    font-size: 20px;
                    text-decoration: line-through;
                }

            }
            .enrolled{
                font-family: 'Hind Gunter';
                font-weight: 100;
                font-size: 13px;
                color: #fcdab7;
                i{
                    font-size: 12px;
                    color: #fcdab7;
                    
                }
            }

            .buy{
                background-color: #133b5c;
                color: #fcdab7;
                padding: 8px 15px;
                font-size: 16px;
                outline: none;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                -webkit-box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.68); 
                box-shadow:0px 3px 10px 1px rgba(0, 0, 0, 0.68);
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }

}
