@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&family=Hind+Guntur:wght@300;400;700&family=Montserrat:ital,wght@0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*animations*/
@keyframes ascend{
    from{margin-top: 50px; opacity: 0;}
    to{margin-top: 30px; opacity: 1;}
}
@keyframes settle{
    from{transform: translate(15px); opacity: 0;}
    to{transform: translate(0); opacity: 1;}
}
@keyframes softpop{
    from{transform: scale(0.8); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}
#ascend{
    animation: ascend .5s forwards;
    animation-delay: .5s;
}
#softpop{
    animation: softpop .5s forwards;
    animation-delay: .5s;
}
.settle{
    animation: settle .5s forwards;
}

html {
    scroll-behavior: smooth;
    --pri:#E5E3E7;
    --sec:#8A8988;
    --ter:#5F8ACE;
    --darkacc:#6E6C7E;
    --acc:#273758;
}

body{
    background-color: var(--pri);
    color: var(--darkacc);
    padding: 0;
    margin: 0;
}

.header{
    z-index: 100;
    position: sticky;
    top: 0px;
    height: 14vh;
    background-color: var(--sec);
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        color: var(--acc);
        font-size: 55px;
    }
    ul{ 
        
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
        
        cursor: pointer;
        a{
            text-decoration: none;
        }
        li{
            transition: all 0.2s ease;
            padding: 15px 30px;
            font-size: 16px;
            color: var(--acc);
            font-style: italic;
            font-weight: bold;

            
            &:hover{
                color: #fff;
            }
        }
        .get-started{
            background-color: var(--ter);
            font-weight: bolder;
            font-size: 16px;
            color: var(--pri);
            border-radius: 25px;
            padding: 15px 15px ;

            &:hover{

                background-color: #5f8acedc;
            }

            span{
                color: var(--pri);
             
            }
        }
        
    }
    @media(max-width: 676px){
        
        
    }
    

}

.progress{
    margin-top: 20px;
    padding: 0 30px;
    h1{
        font-family: 'Expletus Sans', cursive;
    }
    
    .progress-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-top: 30px;
        font-family: 'Hind Guntur', sans-serif;
        @media(max-width: 676px){
            grid-template-columns: 1fr;         
                
        }
        .progress-card{
            background-color: var(--ter);
            height: auto;
            border-radius: 15px;
            font-family: "Hind Guntur";
            color: var(--darkacc);
            position: relative;
            
            img{
                width: 100%;
                border-radius: 15px 15px 0 0;
                z-index: 0;
                opacity: 0.8;
                filter: brightness(100%); 

                @media(max-width: 676px){
                    opacity: 1;
                    filter: brightness(40%);
                }

                
            }

            .progress-bar{
                height: 4px;
                background-color: rgb(62, 172, 62);
                position: absolute;
                bottom: 72px;

                @media(max-width: 676px){
                    display: none;
                }
            }
            
            .course-title{
                color: var(--pri);
                font-weight: bold;
                white-space: pre-line; 
                margin-top: -20px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.3rem;
                padding: 0 1rem 1rem 1rem;
                height: 4rem;
                text-align: center;
                opacity: 1;
                transition: opacity 1s ease;
                @media(max-width: 676px){
                    display: none;
                }
            }

            .on-hover{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;
                margin-bottom: 15px;
                opacity: 0;
                display: none;
                transition: all 1s ease;
                @media(max-width: 676px){
                    display: flex;
                    opacity: 1;
                    
                }

                .course-title-hover{
                    color: var(--pri);
                    position: absolute;
                    bottom: 130px;
                    font-size: 1.6rem;
                    font-family: 'Hind Guntur';
                    font-weight: bold;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    
                    width: 90%;
                }
                .course-author-hover{
                    color: var(--pri);
                    position: absolute;
                    bottom: 100px;
                    font-size: 1.3rem;
                    font-family: 'Hind Guntur';
                    font-weight: 300;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    
                    width: 90%;
                }
                .progress-per{
                    
                    color: var(--acc);
                    
                    height: 15px;
                    border-radius: 20px;
                    background-color: white;
                    width: 40%;

                   
                    .progress-inner{
                        background-color: green;
                        height: 15px;
                        
                        border-radius: 19px 0 0 19px;
                    }
                }
                .continue{
                    button{
                        background-color: var(--acc);
                        color: var(--pri);
                        padding: 10px 20px;
                        font-size: 20px;
                        outline: none;
                        border: none;
                        border-radius: 20px;
                        cursor: pointer;
                        -webkit-box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.2); 
                        box-shadow:0px 3px 16px 1px rgba(0, 0, 0, 0.2);
                        &:hover{
                            -webkit-box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.4); 
                        box-shadow:0px 3px 16px 1px rgba(0, 0, 0, 0.4);
                        transition: .25s;
                        }
                    }
                }
            }
            @media(max-width: 676px){
                
                
            }

            

            &:hover{

                img{
                    filter: brightness(40%);
                    transition: all 0.6s ease;
                }
                
                .progress-bar{
                    display: none;

                }
                .on-hover{
                    display: flex;
                    opacity: 1;
                }
                .course-title{
                    display: none;
                    opacity: 0;
                }
            }
        }

        
    }
}


.main{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    @media(max-width: 676px){
        width: 90%;
        min-height: auto;
        
    }

    
    .content{
        /*for animation*/
        margin-left: 15px;
        opacity: 0;


        color: var(--acc);
        h1{
            font-family: 'Hind Guntur', sans-serif;
            line-height: 4rem;
            font-size: 60px;
            @media(max-width: 676px){
                font-size: 45px;
                
            }
        }
        p{
            font-size: 16px;
            font-family:'Hind Guntur', sans-serif ;
            font-weight: lighter;
            color: var(--darkacc);
            padding: 20px 0;
            line-height: 1.5rem;
            width: 70%;
            @media(max-width: 676px){
                width: auto;
                font-size: 12px;
            }
        }
        button{
                outline: none;
                border: none;
                cursor: pointer;
                background-color: var(--ter);
                font-weight: bolder;
                font-size: 16px;
                color: var(--acc);
                border-radius: 25px;
                padding: 15px 15px ;
                @media(max-width: 676px){
                    
                    font-size: 12px;
                }
                &:hover{
    
                    background-color: #1e5f74be;
                }
    
                span{
                    color: var(--darkacc);
                }
               
        }
        .get-started-course{
            background-color: transparent;
            font-weight: bolder;
            font-size: 16px;
            color: var(--acc);
            border-radius: 25px;
            padding: 15px ;

            &:hover{
                background-color: var(--sec);
            }
        }

    }
    
    .image{
        width: fit-content;
        text-align: center;

        opacity: 0;
        img{
            max-width: 90%;
            height: auto;
            
        }
        @media(max-width: 676px){
            display: none;       
        }
    }
    
}

#explore{
    min-height: 13vh;
    @media(max-width: 676px){
           min-height: 0vh !important;
           
       }
}

@import './courses';
@import './login';

.cards-container{
    //for animation
    margin-top: 50px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
   

    @media(max-width: 676px) {
        grid-template-columns: 1fr;
    }
    
    .course{
        
        background-color: var(--ter);
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;       
        position: relative;  
        @media(max-width: 676px) {
            grid-template-columns: 1fr;
        }   
        .image{
            height: 18rem;
            
            img{
                width: 100%;
                height: 18rem;
                object-fit: cover;
                border-radius: 20px 0 0 20px;

                @media(max-width: 676px) {
                    border-radius: 20px 20px 0 0 ;
                } 
            }
            
        }

        .discount{
            position: absolute;
            background-color: #eb4e54;
            color: var(--pri);
            padding: 8px 20px;
            border-radius: 20px;
            font-weight: bold;
           
            top: 5px;
            left: 10px;
           
            
        }
    }
    .content{
        background-color: var(--ter);
        border-radius: 0 20px 20px 0 ;
        padding: 10px;

        h1.title{
            display: -webkit-box;
            font-size: 24px;
            color:var(--pri);
            font-family: 'Hind Guntur', sans-serif;;
            font-weight: 300;
            line-height: 1.8rem;
            width: 70%;
            overflow: hidden;
            line-clamp: 4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        .rating{
            i{
                margin: 0 2px;
            }
            .yellow-star{
                filter: brightness(0) saturate(100%) invert(88%) sepia(38%) saturate(1403%) hue-rotate(318deg) brightness(129%) contrast(110%);
            }
        }
        .price{
            margin-top: 5px;
            font-family: "Hind Guntur";
            font-weight: bold;
            font-size: 30px;
            color: #fff;

            .original-price{
                color: var(--acc);
                opacity: .7;
                font-weight: 100;
                font-size: 20px;
                text-decoration: line-through;
            }

        }
        .enrolled{
            font-family: 'Hind Guntur';
            font-weight: 100;
            font-size: 13px;
            color: var(--acc);
            i{
                font-size: 12px;
                color: var(--acc);
                
            }
        }

        .buy{
            font-family: 'Hind Guntur';
            background-color: var(--acc);
            color: var(--pri);
            padding: 8px 15px;
            height: 40px;
            font-size: 16px;
            font-weight: bold;
            outline: none;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
            box-shadow:5px 5px 15px rgba(0, 0, 0, 0.2);
            position: absolute;
            right: 10px;
            bottom: 10px;
            &:hover{
                -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
                box-shadow:5px 5px 15px rgba(0, 0, 0, 0.4);
                transition: .25s;
            }
        }
    }
}