@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&family=Hind+Guntur:wght@300;400;700&family=Montserrat:ital,wght@0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*animations*/
@-webkit-keyframes ascend {
  from {
    margin-top: 50px;
    opacity: 0;
  }
  to {
    margin-top: 30px;
    opacity: 1;
  }
}
@keyframes ascend {
  from {
    margin-top: 50px;
    opacity: 0;
  }
  to {
    margin-top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes settle {
  from {
    -webkit-transform: translate(15px);
            transform: translate(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes settle {
  from {
    -webkit-transform: translate(15px);
            transform: translate(15px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@-webkit-keyframes softpop {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes softpop {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

#ascend {
  -webkit-animation: ascend .5s forwards;
          animation: ascend .5s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#softpop {
  -webkit-animation: softpop .5s forwards;
          animation: softpop .5s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.settle {
  -webkit-animation: settle .5s forwards;
          animation: settle .5s forwards;
}

html {
  scroll-behavior: smooth;
  --pri:#E5E3E7;
  --sec:#8A8988;
  --ter:#5F8ACE;
  --darkacc:#6E6C7E;
  --acc:#273758;
}

body {
  background-color: var(--pri);
  color: var(--darkacc);
  padding: 0;
  margin: 0;
}

.header {
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 14vh;
  background-color: var(--sec);
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--acc);
  font-size: 55px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.header ul a {
  text-decoration: none;
}

.header ul li {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 15px 30px;
  font-size: 16px;
  color: var(--acc);
  font-style: italic;
  font-weight: bold;
}

.header ul li:hover {
  color: #fff;
}

.header ul .get-started {
  background-color: var(--ter);
  font-weight: bolder;
  font-size: 16px;
  color: var(--pri);
  border-radius: 25px;
  padding: 15px 15px;
}

.header ul .get-started:hover {
  background-color: #5f8acedc;
}

.header ul .get-started span {
  color: var(--pri);
}

.progress {
  margin-top: 20px;
  padding: 0 30px;
}

.progress h1 {
  font-family: 'Expletus Sans', cursive;
}

.progress .progress-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  font-family: 'Hind Guntur', sans-serif;
}

@media (max-width: 676px) {
  .progress .progress-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.progress .progress-container .progress-card {
  background-color: var(--ter);
  height: auto;
  border-radius: 15px;
  font-family: "Hind Guntur";
  color: var(--darkacc);
  position: relative;
}

.progress .progress-container .progress-card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  z-index: 0;
  opacity: 0.8;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

@media (max-width: 676px) {
  .progress .progress-container .progress-card img {
    opacity: 1;
    -webkit-filter: brightness(40%);
            filter: brightness(40%);
  }
}

.progress .progress-container .progress-card .progress-bar {
  height: 4px;
  background-color: #3eac3e;
  position: absolute;
  bottom: 72px;
}

@media (max-width: 676px) {
  .progress .progress-container .progress-card .progress-bar {
    display: none;
  }
}

.progress .progress-container .progress-card .course-title {
  color: var(--pri);
  font-weight: bold;
  white-space: pre-line;
  margin-top: -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  padding: 0 1rem 1rem 1rem;
  height: 4rem;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

@media (max-width: 676px) {
  .progress .progress-container .progress-card .course-title {
    display: none;
  }
}

.progress .progress-container .progress-card .on-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  opacity: 0;
  display: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 676px) {
  .progress .progress-container .progress-card .on-hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
}

.progress .progress-container .progress-card .on-hover .course-title-hover {
  color: var(--pri);
  position: absolute;
  bottom: 130px;
  font-size: 1.6rem;
  font-family: 'Hind Guntur';
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.progress .progress-container .progress-card .on-hover .course-author-hover {
  color: var(--pri);
  position: absolute;
  bottom: 100px;
  font-size: 1.3rem;
  font-family: 'Hind Guntur';
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 90%;
}

.progress .progress-container .progress-card .on-hover .progress-per {
  color: var(--acc);
  height: 15px;
  border-radius: 20px;
  background-color: white;
  width: 40%;
}

.progress .progress-container .progress-card .on-hover .progress-per .progress-inner {
  background-color: green;
  height: 15px;
  border-radius: 19px 0 0 19px;
}

.progress .progress-container .progress-card .on-hover .continue button {
  background-color: var(--acc);
  color: var(--pri);
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.2);
}

.progress .progress-container .progress-card .on-hover .continue button:hover {
  -webkit-box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: .25s;
  transition: .25s;
}

.progress .progress-container .progress-card:hover img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.progress .progress-container .progress-card:hover .progress-bar {
  display: none;
}

.progress .progress-container .progress-card:hover .on-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.progress .progress-container .progress-card:hover .course-title {
  display: none;
  opacity: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: auto;
}

@media (max-width: 676px) {
  .main {
    width: 90%;
    min-height: auto;
  }
}

.main .content {
  /*for animation*/
  margin-left: 15px;
  opacity: 0;
  color: var(--acc);
}

.main .content h1 {
  font-family: 'Hind Guntur', sans-serif;
  line-height: 4rem;
  font-size: 60px;
}

@media (max-width: 676px) {
  .main .content h1 {
    font-size: 45px;
  }
}

.main .content p {
  font-size: 16px;
  font-family: 'Hind Guntur', sans-serif;
  font-weight: lighter;
  color: var(--darkacc);
  padding: 20px 0;
  line-height: 1.5rem;
  width: 70%;
}

@media (max-width: 676px) {
  .main .content p {
    width: auto;
    font-size: 12px;
  }
}

.main .content button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--ter);
  font-weight: bolder;
  font-size: 16px;
  color: var(--acc);
  border-radius: 25px;
  padding: 15px 15px;
}

@media (max-width: 676px) {
  .main .content button {
    font-size: 12px;
  }
}

.main .content button:hover {
  background-color: #1e5f74be;
}

.main .content button span {
  color: var(--darkacc);
}

.main .content .get-started-course {
  background-color: transparent;
  font-weight: bolder;
  font-size: 16px;
  color: var(--acc);
  border-radius: 25px;
  padding: 15px;
}

.main .content .get-started-course:hover {
  background-color: var(--sec);
}

.main .image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  opacity: 0;
}

.main .image img {
  max-width: 90%;
  height: auto;
}

@media (max-width: 676px) {
  .main .image {
    display: none;
  }
}

#explore {
  min-height: 13vh;
}

@media (max-width: 676px) {
  #explore {
    min-height: 0vh !important;
  }
}

.explore {
  margin-top: 20px;
  padding: 0 30px;
  font-family: 'Montserrat';
}

.explore h1 {
  font-family: 'Expletus Sans', cursive;
}

.explore .category {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 17px;
  margin-right: 10px;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--ter);
  color: #fff;
  outline: none;
  border: none;
}

@media (max-width: 676px) {
  .explore .category {
    font-size: 13px;
  }
}

.explore .category:hover {
  background-color: #1e5f74be;
}

.explore .active {
  background-color: #fff;
  color: #1e5f74be;
}

.explore .active:hover {
  background-color: #ffffffd3;
}

.explore .cards-container {
  margin-top: 50px;
  opacity: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 676px) {
  .explore .cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.explore .cards-container .course {
  background-color: var(--ter);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

@media (max-width: 676px) {
  .explore .cards-container .course {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.explore .cards-container .course .image {
  height: 18rem;
}

.explore .cards-container .course .image img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0 0 20px;
}

@media (max-width: 676px) {
  .explore .cards-container .course .image img {
    border-radius: 20px 20px 0 0;
  }
}

.explore .cards-container .course .discount {
  position: absolute;
  background-color: #eb4e54;
  color: var(--pri);
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  top: 5px;
  left: 10px;
}

.explore .cards-container .content {
  background-color: var(--ter);
  border-radius: 0 20px 20px 0;
  padding: 10px;
}

.explore .cards-container .content h1.title {
  display: -webkit-box;
  font-size: 24px;
  color: var(--pri);
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 300;
  line-height: 1.8rem;
  width: 70%;
  overflow: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.explore .cards-container .content .rating i {
  margin: 0 2px;
}

.explore .cards-container .content .rating .yellow-star {
  -webkit-filter: brightness(0) saturate(100%) invert(88%) sepia(38%) saturate(1403%) hue-rotate(318deg) brightness(129%) contrast(110%);
          filter: brightness(0) saturate(100%) invert(88%) sepia(38%) saturate(1403%) hue-rotate(318deg) brightness(129%) contrast(110%);
}

.explore .cards-container .content .price {
  margin-top: 5px;
  font-family: "Hind Guntur";
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.explore .cards-container .content .price .original-price {
  color: var(--acc);
  opacity: .7;
  font-weight: 100;
  font-size: 20px;
  text-decoration: line-through;
}

.explore .cards-container .content .enrolled {
  font-family: 'Hind Guntur';
  font-weight: 100;
  font-size: 13px;
  color: var(--acc);
}

.explore .cards-container .content .enrolled i {
  font-size: 12px;
  color: var(--acc);
}

.explore .cards-container .content .buy {
  font-family: 'Hind Guntur';
  background-color: var(--acc);
  color: var(--pri);
  padding: 8px 15px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.explore .cards-container .content .buy:hover {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: .25s;
  transition: .25s;
}

body {
  background-color: var(--pri);
}

.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template-columns: 2fr 1.5fr;
}

@media (max-width: 676px) {
  .login-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    min-height: 100vh;
  }
}

.login-container .image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 676px) {
  .login-container .image {
    display: none;
  }
}

.login-container .back {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #fcdab7;
  position: absolute;
  left: 30px;
  top: 30px;
}

.login-container .back i {
  color: #1d2d50;
  font-size: 40px;
  font-weight: 100;
}

.login-container .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.login-container .login h1 {
  font-size: 40px;
  font-family: 'Montserrat';
  color: var(--acc);
}

@media (max-width: 676px) {
  .login-container .login h1 {
    display: none;
  }
}

.login-container .login .form {
  background-color: #133b5c;
  width: 40%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 30px  30px;
  text-align: left;
  position: relative;
}

@media (max-width: 676px) {
  .login-container .login .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin: auto;
    width: 60%;
  }
}

.login-container .login h2 {
  font-family: "Hind Guntur";
  font-style: italic;
}

.login-container .login input {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 90%;
  margin-bottom: 30px;
}

.login-container .login label {
  color: #fcdab7;
  font-size: 15px;
  font-family: 'Hind Guntur';
  font-weight: 100;
}

.login-container .login #forgot {
  font-size: 13px;
  font-family: 'Hind Guntur';
  font-weight: 100;
  color: #fcdab7;
  text-align: right;
  text-decoration: underline;
}

.login-container .login #login {
  background-color: #133b5c;
  color: #fcdab7;
  padding: 8px 15px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 16px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.68);
  margin-top: 10px;
}

.cards-container {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

@media (max-width: 676px) {
  .cards-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.cards-container .course {
  background-color: var(--ter);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

@media (max-width: 676px) {
  .cards-container .course {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.cards-container .course .image {
  height: 18rem;
}

.cards-container .course .image img {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 0 0 20px;
}

@media (max-width: 676px) {
  .cards-container .course .image img {
    border-radius: 20px 20px 0 0;
  }
}

.cards-container .course .discount {
  position: absolute;
  background-color: #eb4e54;
  color: var(--pri);
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  top: 5px;
  left: 10px;
}

.cards-container .content {
  background-color: var(--ter);
  border-radius: 0 20px 20px 0;
  padding: 10px;
}

.cards-container .content h1.title {
  display: -webkit-box;
  font-size: 24px;
  color: var(--pri);
  font-family: 'Hind Guntur', sans-serif;
  font-weight: 300;
  line-height: 1.8rem;
  width: 70%;
  overflow: hidden;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.cards-container .content .rating i {
  margin: 0 2px;
}

.cards-container .content .rating .yellow-star {
  -webkit-filter: brightness(0) saturate(100%) invert(88%) sepia(38%) saturate(1403%) hue-rotate(318deg) brightness(129%) contrast(110%);
          filter: brightness(0) saturate(100%) invert(88%) sepia(38%) saturate(1403%) hue-rotate(318deg) brightness(129%) contrast(110%);
}

.cards-container .content .price {
  margin-top: 5px;
  font-family: "Hind Guntur";
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.cards-container .content .price .original-price {
  color: var(--acc);
  opacity: .7;
  font-weight: 100;
  font-size: 20px;
  text-decoration: line-through;
}

.cards-container .content .enrolled {
  font-family: 'Hind Guntur';
  font-weight: 100;
  font-size: 13px;
  color: var(--acc);
}

.cards-container .content .enrolled i {
  font-size: 12px;
  color: var(--acc);
}

.cards-container .content .buy {
  font-family: 'Hind Guntur';
  background-color: var(--acc);
  color: var(--pri);
  padding: 8px 15px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.cards-container .content .buy:hover {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-transition: .25s;
  transition: .25s;
}
/*# sourceMappingURL=style.css.map */